.dashboard {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: flex-start;
}

.chatbox {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: aliceblue;
    margin: 1em;
    padding: 5px;
}

.typeBox{
    margin: 1rem;
}

.input-group-text {
    padding: 0 !important;
}

img {
    margin:3px;
}